:root {
    --primary: rgb(235, 80, 121);
    --secondary: rgb(155, 24, 59);
    --background: rgb(24, 24, 24);
}

body {
    font-family: 'Space Mono', monospace;
    width: fit-content;
    margin: auto;
    background-color: var(--background);
    color: rgb(255, 255, 255);
}

p {
    margin: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
    padding-bottom: 0.1px;
    border-bottom: 1px solid var(--primary);
}

a:visited {
    color: var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

#name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

main {
    margin: 1.5em 17%;
    padding: 3em 5em;
    background: rgb(22 22 22 / 31%);
    box-shadow: 0 8px 32px 0 rgb(107 107 107 / 37%);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 55px;
    border: 1px solid rgba(255, 255, 255, 0);
}

#links {
    margin-top: 1em;
}

section > h2 {
    margin-bottom: 0;
    margin-top: 1.5em;
}

section > ul {
    margin-top: 0.5em;
}

body::-webkit-scrollbar {
    width: 1.2em;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--primary);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background);    /* color of the scroll thumb */
}

.spaced-ul > li {
    padding-bottom: 1em;
}

.stack {
    float: right;
    color: aqua;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 1em 2em;
        margin: 0.5em;
        border-radius: 20px;
    }

    #name {
        font-size: 2.75em;
        margin-top: 0.5em;
    }

    h2 {
        font-size: 1.3em;
        padding-bottom: 0.5em;
    }

    ul {
        padding-inline-start: 1.5em;
        margin-block-end: 0.75em;
    }

    li {
        padding-bottom: 0.25em;
    }
}